/* Circular - Pavlov Brand Typeface */

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular/CircularStd-Thin.woff2') format('woff2'),
       url('./fonts/Circular/CircularStd-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular/CircularStd-Light.woff2') format('woff2'),
       url('./fonts/Circular/CircularStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular/CircularStd-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular/CircularStd-Black.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
